

   <span class="resumo">
<p>Tenho conhecimento em diferentes campos da Tecnologia.
Desenvolvo Sistemas web, com domínio em HTML5, CSS3, JavaScript, Angular e Node.js</p>
<p>Experiência na administração de Banco de Dados SQL Server e MySQL.</p><p> Criei Gráficos de desempenho automatizados com VBA.</p>
Também tive experiência no atendimento de chamados de  Infraestrutura de redes e ServiceDesk.<p> Nessa caminhada pela tecnologia,
busco entregar qualidade nas minhas realizações. Tenho prazer em poder conhecer diferentes campos e compreender como cada setor funciona.</p>
</span>
