<!--
 <div class="row">
   <div class="col-md">

 </div>
</div>
<div class="row">
    <div class="col-md shadow p-3 mb-5 bg-white rounded">
   <span class="resumo ">
Javascript, Nodejs, Adonisjs, PHP, PHP Slim, Laravel, Angular 2+, HTML, CSS, SASS, Bootstrap, Angular Material, Materialize, Express Js, SQL Server, Mysql, Postgree, Mongodb, Firebase, GIT, ORM, microserviços, AWS.
</span>
</div>
</div> -->



<div class="texto">
  <div class="row">
    <div class="col-sm-2">
      <div class="avatar">
        <img src="../assets/0.jpeg" alt="Avatar" class="md-avatar rounded-squad avatar imagem">
      </div>
    </div>
    <div class="col-sm conteudo">
     <div class="titulo">Vitor Sales</div>
      <div class="subtitulo">&nbsp; Desenvolvedor FullStack</div>
      <div class="linha"></div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm">
       <div class="texto2">
            <p>A Qualidade é a nossa melhor garantia de fidelidade do cliente, a nossa mais
          forte defesa contra a competição estrangeira e o único caminho para o crescimento
          e para os lucros - Jack Welch</p>
          </div></div>
    </div>
  </div>
