a {
  text-decoration: none;
  color: inherit;

}

@media (min-width: 600px) {
  .container {
    max-width: 1630px;
  }
}

@media only screen and (min-width: 993px) {
  .container {
    width: 95%;

  }
 .h1 {
  margin-top: 160px;
 }
}

.container {
  margin-top: 5% !important;
}

h1 {
  margin-top: 177px;
  font-size: 100px;

}

h1,
h5 {
  margin-right: 150px;
  color: rgb(31, 129, 185);
}

h5 {
  margin-bottom: 150px;
  font-size: 35px;
}

