.avatar img {
  border-radius: 50%;
  padding: 2%;
  margin-top: 177px;
  width: 303px;
  border-style: outset;
  padding: 0%;
  margin-left: 15px;
  margin-bottom: 71px;
  border-color: rgb(31, 129, 185);
  border-width: 15px;
}

a {
  color: rgb(2, 2, 2);
   font-weight: bold;
}




.btn, .btn-large, .btn-small {
  background-color: rgb(31, 129, 185);
  margin-bottom: 100px;
  margin-left: 10px;
  width: 143px;
  border-radius: 20%;
}

.borda1 {
  margin-top: 150px;
}

.ultimonav {
  margin-bottom: 400px;
}
