
  <ul class="nav flex-column ab">
  <li class="nav-item">
    <img src="../assets/0.jpeg" alt="Avatar" class="md-avatar rounded-squad">
    <a class="nav-link" [routerLink]="['/sobremim']">Sobremim</a>
  </li>
  <li class="nav-item">
      <a class="nav-link" [routerLink]="['/portfolio']">Portfólio</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" [routerLink]="['/contato']">Contato</a>
  </li>
  <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
  <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
  <br><br><br><br><br><br><br><br>
  </ul>

  
