.avatar, img {
  border-radius: 50%;
    padding: 2%;
    margin-top: 25px;
    width: 263px;
    border-style: outset;
    padding: 0%;
    margin-left: 3px;
    margin-bottom: 71px;
    border-color: rgb(31, 129, 185);
    border-width: 15px;
}



.btn, .btn-large, .btn-small {
  background-color: rgb(31, 129, 185);
  margin-bottom: 100px;
  margin-left: 10px;
  width: 143px;
  border-radius: 20%;
}

.borda1 {
  margin-top: 48px;
}

.ultimonav {
  margin-bottom: 400px;
}


@media only screen and (min-width: 993px) {
  .avatar img{
    width: 211px;
    margin-bottom: 60px;
    margin-top: 77px;
  }
  .btn[_ngcontent-c1], .btn-large[_ngcontent-c1], .btn-small[_ngcontent-c1] {
  margin-left: 60px;
 }

 
}

a[_ngcontent-c1] {
  color: rgb(255, 255, 255);
  font-weight: bold;
}

h1,h2,h3,h4,h5 {
color: rgb(31, 129, 185);
 
}

h3 {
  margin-top: -37px;
    margin-left: 34px;
    margin-bottom: -6px;
}
a {
  text-decoration: none;
  color: inherit;
  font-weight: bold;

}

.nome {
  
}

.linha {
  background-color: rgb(31, 129, 185);
  padding: 1px;
  margin-top: 7px;
  width: 275px;
}