<a href="https://github.com/Tvitor">Github</a><br>
<a href="https://resume.github.io/?tvitor">Detalhes</a>

<div class="row">
     
  <div class="col-sm">
      
    <img src="//placehold.it/1000x600" class="img-thumbnail" data-toggle="modal" data-target="#myModal">

    <div id="myModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-body">
            <img src="//placehold.it/1000x600" class="img-responsive">
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-sm">
    <img src="//placehold.it/1000x600" class="img-thumbnail" data-toggle="modal" data-target="#myModal">

    <div id="myModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-body">
            <img src="//placehold.it/1000x600" class="img-responsive">
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-sm">
    <img src="//placehold.it/1000x600" class="img-thumbnail" data-toggle="modal" data-target="#myModal">

    <div id="myModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-body">
            <img src="//placehold.it/1000x600" class="img-responsive">
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
