<div class="row">

    <div class="col-sm">

      <img src="//placehold.it/1000x600" class="img-thumbnail" data-toggle="modal" data-target="#myModal">
      <div class="legendas">&nbsp;&nbsp;&nbsp; Projeto: Api Cursos</div>
      <div id="myModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-body">

              <img src="//placehold.it/1000x600" class="img-thumbnail">
            </div>

          </div>
          <span aria-hidden="true">&times; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
        </div>
      </div>
    </div>


    <div class="col-sm">

        <img src="//placehold.it/1000x600" class="img-thumbnail" data-toggle="modal" data-target="#myModal">
        <div class="legendas">&nbsp;&nbsp;&nbsp; Projeto: Site de Noticias</div>
        <div id="myModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-body">

                <img src="//placehold.it/1000x600" class="img-thumbnail">
              </div>

            </div>
            <span aria-hidden="true">&times; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
          </div>
        </div>
      </div>


    <div class="col-sm">

        <img src="//placehold.it/1000x600" class="img-thumbnail" data-toggle="modal" data-target="#myModal">
        <div class="legendas">&nbsp;&nbsp;&nbsp; Projeto: Tvitor.Github.io</div>
        <div id="myModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-body">

                <img src="//placehold.it/1000x600" class="img-thumbnail">
              </div>

            </div>
            <span aria-hidden="true">&times; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
          </div>
        </div>
      </div>

  </div>
