.habilidades {
  font-weight: bold;
  font-size: 18px;
  margin-bottom: 30px;
  margin-left: 100px;
}

.percent {
  margin-left: 155px;
}

.skills {
  margin-top: 32px;
}

.topo {
  margin-top: 250px;  
}