.habilidades {
  font-weight: bold;
  font-size: 15px;
  background-color: white;
  color: rgb(31, 129, 185);
  margin-bottom: 30px;
  display: flex;
  margin-left: 5px;
    height: 644px;
    display: block;
    opacity: 0.5;
    margin-top: 468px;
    margin-right: 149px;
}

.percent {
  margin-left: 305px;
  margin-bottom: -3px;
}

.skills {
  margin-top: 25px;
}

.topo {
  margin-top: 250px;  
}

.display-4 {
  color:rgb(31, 129, 185);
}
