.topo {
    margin-top: 200px;
}

h2 {
    margin-right: 100px;

    
}

.text1{
    margin-right: 24px;
    font-size: 20px;
    
}

.mb-4 {
    
        margin-top: 768px;
        margin-right: 146px;
    
}

.ng-untouched, .ng-pristine, .ng-valid {
    margin-top: 100px;
}