<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
    crossorigin="anonymous">
  <title>Vitor Sales</title>
</head>

<body>


  <header><br><br><br><br><br><br><br><br><br></header>
  <div class="container ">
    <div class="row align-self-start pri">
        
      <ul class="nav flex-column colum1">
        <li class="nav-item">
        <img src="../assets/0.jpeg" alt="Avatar" class="md-avatar rounded-squad">
          <a class="nav-link active" href="#">Sobre mim</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Portfólio</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Contato</a>
        </li>
      </ul>
      <div class="col-md-8 colum2"><br><br><br><br><br><br><br><br><br><br><br><br><h1 class="h1">Vitor Sales</h1><h5 class="h5">Web Developer</h5>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis non ipsum euismod, vehicula felis eget, scelerisque quam. Ut pellentesque, justo quis porttitor condimentum, elit enim scelerisque sapien, pellentesque hendrerit odio magna vitae lorem. Integer gravida eros vel erat sodales, ac vulputate purus interdum. Vivamus felis eros, luctus non rutrum vel, euismod ut sem. Vivamus semper sodales iaculis. Donec mauris est, iaculis a sem vitae, efficitur sodales libero. Sed dapibus magna vitae rutrum porttitor. Integer dictum tellus quis velit facilisis, sit amet fringilla dui ornare. In hac habitasse platea dictumst. Suspendisse vel sodales sem. Maecenas elementum commodo nibh ac luctus.

          Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Mauris id gravida erat, vitae dignissim lorem. Phasellus fringilla ultricies lorem rutrum volutpat. Praesent consectetur dui vitae lacus dictum, vel venenatis risus suscipit. Donec iaculis eu nunc viverra congue. Pellentesque vel vehicula leo, sollicitudin ornare neque. Nunc eget varius ipsum. Sed aliquam diam nec diam dapibus sodales. Vestibulum eu justo pharetra, volutpat elit sit amet, placerat tellus. Aenean a auctor ex.
          
          In ornare tempor fringilla. Praesent laoreet scelerisque luctus. Praesent nec placerat sapien, vel ullamcorper ligula. Duis eu pulvinar nisi, vel faucibus sapien. Praesent sit amet vehicula nunc. Sed volutpat nunc quam, ut dapibus lorem commodo quis. Vestibulum ornare urna in nisl fringilla iaculis. Etiam eu sapien id nisl placerat rutrum. Donec velit ante, luctus eget ultricies luctus, condimentum sit amet diam. Morbi facilisis turpis ut nunc molestie, quis imperdiet est elementum. Aliquam quis nulla ac arcu dignissim luctus. Donec sit amet augue sapien.
          
          Nunc sit amet hendrerit massa. Donec ac facilisis augue, nec dictum purus. Aliquam libero magna, volutpat a hendrerit a, ultricies et mi. In hac habitasse platea dictumst. Nunc velit purus, pulvinar sed lacus at, mattis rhoncus mi. Morbi condimentum molestie massa, in varius erat. Suspendisse pharetra est nec leo varius, a ornare orci consectetur. Aenean eu ligula sed odio ullamcorper hendrerit ut vel tortor. Sed eu nisi ut urna mollis suscipit in in odio. Vivamus dapibus ex quam, nec tempus ex tincidunt sit amet. Proin lacinia diam nec ipsum fermentum molestie. Morbi lacus orci, euismod quis quam eget, blandit dignissim ante.
          
          Sed tristique egestas eros non mattis. Sed lacinia lorem at elementum commodo. Pellentesque tristique varius enim ut cursus. Aenean bibendum nisl et elit ultrices, eget convallis diam semper. Mauris eget posuere dolor. Maecenas commodo lacus in ipsum facilisis, vel scelerisque purus elementum. Curabitur pulvinar elit ac mi imperdiet laoreet. Nulla varius dictum ultricies. Etiam a cursus enim. Nullam commodo lacus dapibus leo rhoncus, vel porttitor diam fermentum.
          
          Sed porttitor porttitor laoreet. Donec bibendum mollis ex ut euismod. Quisque quis quam faucibus tellus rutrum tincidunt. Suspendisse turpis massa, blandit non enim et, dapibus posuere orci. Etiam ullamcorper augue ipsum, ullamcorper commodo ipsum posuere id. Maecenas fringilla fermentum eleifend. Pellentesque eu aliquam nisi. Donec ornare velit sit amet condimentum rhoncus.
          
          In nisi arcu, faucibus vel tortor eu, tincidunt fermentum ipsum. In cursus, magna quis ultricies feugiat, felis tellus efficitur ante, id hendrerit sapien leo quis orci. Quisque neque tortor, varius ac lacus sit amet, faucibus hendrerit dui. Aenean nec massa suscipit, semper risus at, volutpat sapien. Mauris bibendum, nisi sit amet cursus gravida, urna nisi varius sem, nec commodo enim mauris sit amet lacus. Aliquam tincidunt ipsum nec odio euismod bibendum. Phasellus nec justo nec turpis dapibus sagittis. Ut eu hendrerit turpis, at malesuada justo. Aliquam est felis, pretium ac semper a, malesuada non nulla. Ut augue lectus, bibendum a convallis nec, tempor ac tellus. Donec rutrum mauris dignissim nulla feugiat aliquet. Aliquam erat volutpat. Aliquam facilisis maximus diam ut tincidunt. Nunc bibendum quam ac mi bibendum, ac ullamcorper purus ullamcorper. Integer aliquam non est ac imperdiet. Curabitur dapibus sed dolor ut malesuada.
          
          Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Quisque id orci non turpis congue bibendum consequat a odio. Donec in mauris velit. Ut vel felis non nibh vehicula lacinia. Interdum et malesuada fames ac ante ipsum primis in faucibus. Phasellus commodo eu dolor vitae ullamcorper. Sed est risus, molestie at rhoncus ac, malesuada eget mauris. Donec posuere turpis eget aliquet dapibus. Etiam volutpat neque vel malesuada dignissim.
          
          In hac habitasse platea dictumst. Curabitur ac justo sit amet ante ultricies tincidunt. Aenean posuere sit amet purus nec molestie. Vestibulum sed turpis et diam porttitor vulputate. Aenean tristique venenatis orci, quis condimentum ante tristique at. Suspendisse eu nibh lectus. Fusce faucibus velit fermentum sem aliquam, sed blandit magna eleifend.
          
          Maecenas nibh odio, porttitor sed posuere eget, faucibus vitae sem. Quisque maximus quam nec sem dapibus, at pretium est euismod. Duis eros turpis, facilisis molestie ante ullamcorper, posuere accumsan dolor. Proin mollis elit elit, ac lacinia risus consectetur consectetur. Sed consectetur commodo tortor, in porttitor dolor suscipit vitae. Ut feugiat, nunc eu rhoncus blandit, neque turpis lobortis magna, ut auctor eros magna eget arcu. Suspendisse non eros in nunc vehicula lacinia id in urna
  </div>
  <div class="col-auto colum3" ><button type="button" class="btn-facebook">Facebook</button></div>
  </div>
  </div>

  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
    crossorigin="anonymous"></script>
</body>

</html>
