<div class="row">
  <div class="col-sm">
    <p class="text-justify">Formado em Análise e Desevolvimento na Estácio de Sá.
      Conhecimento em Sistemas web, Banco de Dados SQL e NoSQL. Experiência com Gráficos de desempenho automatizados.
      <p>Mais Informações:</p>
  </div>

</div>
<div class="row">
  <div class="col-sm">
    <a href="https://github.com/Tvitor"><img src="//placehold.it/1000x600" class="img-thumbnail" data-toggle="modal"
        data-target="#myModal"></a>
  </div>
  <div class="col-sm">
    <a href="https://resume.github.io/?tvitor"><img src="//placehold.it/1000x600" class="img-thumbnail" data-toggle="modal"
        data-target="#myModal"></a>
  </div>
  <div class="col-sm">
    <a href="https://www.linkedin.com/in/vitor-sales89/"><img src="//placehold.it/1000x600" class="img-thumbnail"
        data-toggle="modal" data-target="#myModal"></a>
  </div>
</div>
