/* You can add global styles to this file, and also import other style files */
@import '~bootstrap/dist/css/bootstrap.min.css';
/* .corColuna {
    background-color: #ffffff;
} */

body {
    /* background-image: url(../src/assets/ai-artificial-intelligence-blur-546819.jpg); */
    text-align: justify;
    align-content: center;



  font-style: normal;
  font-weight: 200;

}

h1, h5 {
    text-align: center;
}

