/* You can add global styles to this file, and also import other style files */

.colum1, .colum2{
    background-color: #ffffff;
}

.ab {
    background-color: #ffffff;
}
body {
    background-image: url(../src/assets/hero.jpg);
    text-align: justify;
    align-content: center;

}

h1, h5 {
    text-align: center;
}

